APP_ENV=development
PORT=10000
SUPABASE_DB_HOST=aws-1-us-west-2.pooler.supabase.com
SUPABASE_DB_PORT=6543
SUPABASE_DB_NAME=postgres
SUPABASE_DB_USER=postgres.yjhfpfbfyoopswgvnxtl
SUPABASE_DB_PASSWORD=
MODEL_TARGET_COLUMN=